@layer utilities {
  .bg-default {
    @apply bg-violet1;
  }

  .bg-opposite {
    @apply bg-black;
  }

  .bg-contrast {
    @apply bg-mauve4;
  }

  .bg-backdrop {
    @apply bg-neutral-500 bg-opacity-50;
  }

  .bg-opaque {
    @apply bg-white bg-opacity-50;
  }

  .bg-component {
    @apply bg-violet3 bg-ahover;
  }

  .bg-ahover {
    @apply ahover:bg-violet4;
  }
}
