@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./padding.css";
@import "./animation.css";
@import "./background.css";
@import "./text.css";
@import "./icons.css";
@import "./loader.css";
@import "./border.css";

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  @apply text-base;
}
